@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    overflow-x: hidden;
  }

  @media (min-width: 768px) {
    body {
      overflow: hidden;
    }
  }

  *,
  *::before,
  *::after {
    transition-property: background-color, border-color, color, fill, stroke, box-shadow, filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }
}